.header-wrapper {
  background-color: green;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.header-top {
  color: white;
  font-size: 2em;
  display: flex;
  justify-content: space-between;
}

.header-top-btns img {
  margin: 0 10px;
}

.header-top-btns img:last-of-type {
  margin-bottom: 3px;
}

.header-form {
  position: relative;
  margin: 10px 10px 0 10px;
}

.header-form input {
  width: 100%;
  height: 40px;
  outline:none;
  font-size:18px
}

.header-form img {
  position: absolute;
  margin-top: -30px;
  right: 10px;
}

.header-search-result {
  background-color: white;
  list-style-type: none;
  margin: 0 7px 0 11px;
  position: absolute;
width: 100%;
top:111px;
right: 10px;
left:10px;
}

.header-search-list{
  margin:10px;
  font-size:18px;
  cursor:pointer;
  padding:5px 0;
  
}

.header-search-list:hover{
  background-color:#EEEEEE;
}


