body {
  font-family: sans-serif;
}

.bottom {
  background-color: lightgray;
  margin-top: -30px;
  padding: 0 0 10px 0;
}

@media screen and (min-width: 768px) {
  .rearrange {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .deals-wrapper {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .member-wrapper {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
